html {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#featureFlagApp {
  padding-bottom: 60px;
}

#featureFlagApp h1 {
  padding-left: 60px;
  margin-top: 0;
  padding-top: 20px;
}

.sub-wrapper {
  text-align: center;
    border: 2px solid #888;
    max-width: 600px;
    max-height: 300px;
    margin: 60px;
    padding: 80px;
    display: inline-block;
    width: 600px;
    min-height: 150px;
}

.sub-wrapper button {
  font-size: 18px;
  padding: 8px 24px;
  font-weight: bold;
  cursor: pointer;
}

.sub-wrapper h2 {
  text-transform: capitalize;
}

.sub-wrapper h3 {
  display: none;
}

.darkMode {
  background-color: #000;
  color: #fff;
}
.darkMode .sub-wrapper {
  border: 2px solid #fff;
}

.flags-container {
  margin-left: 60px;
}
.flags-container input {
  cursor: pointer;
}
.flags-container label {
  cursor: pointer;
  text-transform: capitalize;
  padding-left: 8px;
}
